---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="generator" content={Astro.generator} />
    <title>America, My Face Is Saying Everything That You Need To Know</title>
    <meta name="description" content="Dot com." />
    <meta
      name="keywords"
      content="RPDR, RuPaul's Drag Race, Kalorie Karbdashian-Williams, Monique Heart, Alyssa Edwards"
    />
    <meta name="author" content="Eva Decker" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <meta property="og:type" content="video" />
    <meta
      property="og:title"
      content="America, My Face Is Saying Everything That You Need To Know"
    />
    <meta property="og:description" content="Dot Com." />
    <meta
      property="og:video"
      content="http://americamyfaceissayingeverythingthatyouneedtoknow.com/dotcom.mp4"
    />
    <meta
      property="og:image"
      content="http://americamyfaceissayingeverythingthatyouneedtoknow.com/poster.png"
    />
    <meta
      property="og:url"
      content="http://americamyfaceissayingeverythingthatyouneedtoknow.com/"
    />
    <meta
      property="og:site_name"
      content="America, My Face Is Saying Everything That You Need To Know"
    />

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-icon-192x192.png"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#aa00ff" />
    <script is:inline src="https://cdn.usefathom.com/script.js" data-site="RZJVLWYK" defer></script>
  </head>
  <body>
    <main>
      <div class="video-wrapper">
        <video playsinline controls loop poster="poster.png">
          <source src="dotcom.mp4" type="video/mp4" />
        </video>
      </div>
      <footer>
        <a href="https://evadecker.com">Eva Decker</a> put this on the web :)
      </footer>
    </main>
  </body>
</html>

<style is:global>
  :root {
    --shadow-color: 303deg 100% 26%;
    --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
      0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
      1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
      0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
      2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
      5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
      1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
      2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
      4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
      7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
      11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
      17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
      25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  html,
  body,
  video {
    padding: 0;
    margin: 0;
  }

  html,
  body {
    background: linear-gradient(
      0deg,
      #e800e0,
      #e000e5,
      #d700ea,
      #ce00ef,
      #c300f4,
      #b700fa,
      #aa00ff
    );
    color: rgba(255, 255, 255, 0.85);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-weight: 600;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  body {
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom) env(safe-area-inset-left);
  }

  body,
  a {
    color: rgba(255, 255, 255, 0.85);
  }

  a {
    text-decoration: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    transition: 0.3s ease-in-out;
  }

  a:hover {
    color: #fff;
    border-bottom-color: rgba(255, 255, 255, 0.9);
  }

  main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
  }

  .video-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 900px;
  }

  video {
    background: black;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--shadow-elevation-high);
    object-fit: cover;
    width: 100%;
    cursor: url('./pointing-hand.svg'), auto;
  }

  @media (max-height: 600px) {
    video {
      width: auto;
      max-height: 60vh;
    }
  }

  footer {
    text-shadow: var(--shadow-elevation-medium);
    margin-top: 16px;
    z-index: 1;
  }
</style>
